.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 500px;
    height: 250px;
}

img {
    margin: 5px;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
}

img:hover {
    opacity: 0.3;
}

.card {
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.small-card {
    width: 90px;
    height: 90px;
}

.big-card {
    width: 220px;
    height: 220px;
}

.icon {
    display: none !important;
    position: fixed;
    z-index: 1001;
    transition: display 0.2s;
}

.icon:hover + .img {
    opacity: 0.3;
}

.card:hover .icon {
    display: block !important;
}