.silly{
  font-size: 1rem;
  text-align: center;
  color: rgb(187, 20, 20);
}
.title {
  text-align: center;
  font-size: 2rem;
}

.smallTxt {
  text-align: center;
  font-size: 0.7em;
}

.medTxt {
  text-align: center;
  font-size: 1.2em;
}

.sidebar{
  background-color: rgb(119, 0, 255);
  width: 20%;
  height: 105vh;
  float: left;
}

.body {
  background-color: orange;
  width: 80%;
  height: 105vh;
  float: right;
}

.recipeCard {
  background-color: white;
  width: 30%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}